.announcement-bar {
  background-color: var(--primary-yellow);
  color: var(--text-dark);
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1002;
  border-bottom: 2px solid var(--text-dark);
}



.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: scroll 20s linear infinite;
}

.marquee-content span {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 30px;
  text-transform: uppercase;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
